* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* thes are for google fonts */
@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@500&display=swap");
body {
  font-family: "Cabin", sans-serif;
  background-color: #edeee9;
}
/* ------------styles adding station for top banner setion ----------*/
.head-top {
  padding-left: 50px;
  font-size: 20px;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}
.navigation {
  display: flex;
}
.navigation li {
  list-style: none;
}
.navigation li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
  margin: 5px;
  padding-right: 50px;
}
.banner-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-left: 50px;
  padding-top: 30px;
}
.banner-left {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.button-top {
  color: #ffff;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
  padding: 10px 25px;
  position: relative;
  border-radius: 20px;
  background-color: blue;
  cursor: pointer;
  box-shadow: 0 7px 0 rgb(53, 53, 211);
}
/* styles for button  top of the first one */
.button-top:active {
  top: 5px;
  box-shadow: 0 2px 0 rgb(53, 53, 211);
}
.heading-top {
  font-size: 35px;
  font-weight: 600;
}
.banner-right img {
  width: 80%;
  padding-left: 100px;
  background-image: url(svgim/Circle\ design.svg);
  background-repeat: no-repeat;
}
.banner-left p {
  line-height: 1.5;
  margin: 20px 0;
}
.header-mid {
  text-align: center;
  margin-top: 70px;
}
/*------------------- ----------------------------
there is given styles for main section and products
----------------------------------------------- */
.main-products {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-left: 100px;
  padding-top: 50px;
  align-items: center;
}
.main-products img {
  width: 70%;
}
.products {
  width: 100%;
  border: 2px solid #fff;
  border-radius: 7px;
  padding: 10px;
  padding-right: 10px;
  padding-left: 30px;
  padding-top: 30px;
  margin: 10px;
  background-color: #fff;
}
.products-ratting {
  color: orange;
}
/* this is styles for footer */
footer {
  border: 1px solid black;
  background-color: rgb(27, 17, 17);
  color: #ffff;
  margin-top: 70px;
  padding-top: 40px;
}
.footer-text {
  text-align: center;
}
.icons {
  color: gray;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.icons .fab {
  margin-right: 30px;
}
/* responsive media queries */

/*-------------------------------
 media queries for mobile phone-
 ------------------------------- */
@media only screen and (max-width: 688px) {
  .container,
  .main-products,
  .banner-top,
  .products,
  .banner-left {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    flex-direction: column;
  }
}
/*---------------------------------- 
Media Queries For Tablet Devicces
---------------------------------- */
@media only screen and (min-width: 688px) and (max-width: 992px) {
  .container,
  .main-products {
    background-color: orange;
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }
}
